// Custom scrollbar for chat window
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fca5a5; // red-300
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ef4444; // red-500
}
